%h1 Buy Ticket

= render 'form'

-# %button{ :type => "submit", :form => "form" }
-#   = I18n.t('seats.new.confirm_purchase')
-#   try to help capybara find the button by putting it ouside the form, also failed

= link_to 'Back', concerts_path
